.flexbox-container {
    height: 500px;
    display:flex;
    background-color: blue;
    justify-content: space-around;
    align-items: center ;
    
}

.flexbox-item {
    width: 150px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #a72a2a;
}

.flexbox-item-1 {
    border: 2px solid black;
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-3 {
    min-height: 300px;
}