table {
    border-collapse:collapse;
    text-align: center;
}

td, th{ 
    border: 1px solid black;
}

table {
    width:30rem

}

tfoot .ad{
    text-align:end;
    padding: 0px 20px;
}

thead th{
    background-color: #000;
    color: #fff
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: 700;
    font-style: italic;
}